# Node dependencies
/node_modules
/**/*.node_modules

# Build outputs (production)
/build
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*.local

# MacOS
.DS_Store

# Coverage (testing)
/coverage

# IDEs
.vscode/
.idea/

